@borderColor: #efeff5;

.o-collapse {
  .collapse-title {
    height: 50px;
    line-height: 50px;
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;

    .arrow {
      font-size: 12px;
      margin-right: 5px;
      width: 20px;
      display: block;
      transform: rotate(0deg) scale(.8);
      transition: all .3s;

      &.down {
        transform: rotate(90deg) scale(.8);
      }
    }
  }

  .collapse-content {
    padding: 10px;
    overflow: hidden;
    transition: all .3s;
  }
}