@font-face {
  font-family: "iconfont"; /* Project id 2946854 */
  src: url('iconfont.woff2?t=1640069620094') format('woff2'),
       url('iconfont.woff?t=1640069620094') format('woff'),
       url('iconfont.ttf?t=1640069620094') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zu:before {
  content: "\e854";
}

.icon-zhuxingtu:before {
  content: "\e626";
}

.icon-yibiaopan:before {
  content: "\eb67";
}

.icon-tubiao-bingtu:before {
  content: "\eb95";
}

.icon-tubiao-qiapian:before {
  content: "\eb96";
}

.icon-tubiao-zhexiantu:before {
  content: "\eb97";
}

.icon-anniuzu:before {
  content: "\e782";
}

.icon-daohang:before {
  content: "\e77d";
}

.icon-liebiao:before {
  content: "\ec6b";
}

.icon-caimeiji:before {
  content: "\e603";
}

.icon-qita:before {
  content: "\e63b";
}

.icon-dingzhi:before {
  content: "\e609";
}

.icon-jichu:before {
  content: "\e60f";
}

.icon-chartt:before {
  content: "\e60a";
}

.icon-zhuangshizhuangxiu:before {
  content: "\e6a6";
}

.icon-wenduji:before {
  content: "\e6de";
}

.icon-tiaoxingjindutu:before {
  content: "\e66b";
}

.icon-biankuang:before {
  content: "\e6b7";
}

.icon-jindutu:before {
  content: "\f24b";
}

.icon-jinggao1:before {
  content: "\e601";
}

.icon-yujingdeng:before {
  content: "\e67f";
}

.icon-zidongxitongjinggaodeng1:before {
  content: "\e605";
}

.icon-yujing1:before {
  content: "\e644";
}

.icon-yujing3:before {
  content: "\e6fe";
}

.icon-jinggaodeng:before {
  content: "\e64b";
}

.icon-baojing1:before {
  content: "\e630";
}

.icon-hong:before {
  content: "\e60d";
}

.icon-yujingdeng1:before {
  content: "\e623";
}

.icon-a-baojingjinggaoyujingjinggaodeng:before {
  content: "\e628";
}

.icon-light:before {
  content: "\e63a";
}

.icon-gaojingdeng9:before {
  content: "\e664";
}

.icon-jinggaodeng1:before {
  content: "\e613";
}

.icon-yujing5:before {
  content: "\e671";
}

.icon-shanchu:before {
  content: "\e74b";
}

.icon-shanchu1:before {
  content: "\e625";
}

.icon-shouye:before {
  content: "\e62d";
}

.icon-chakan:before {
  content: "\e600";
}

.icon-bianji:before {
  content: "\e602";
}

.icon-fuzhi:before {
  content: "\e608";
}

.icon-shouye-moren:before {
  content: "\e619";
}

.icon-jiesuo:before {
  content: "\e669";
}

.icon-xuanzhuan:before {
  content: "\e680";
}

.icon-kaiguan:before {
  content: "\e61f";
}

.icon-clock:before {
  content: "\e63e";
}

.icon-fankuixinxi:before {
  content: "\e660";
}

.icon-leijianzhuxiulix:before {
  content: "\e695";
}

.icon-weibiaoti-:before {
  content: "\e618";
}

.icon-sds_di37leijianzhuxiuli:before {
  content: "\e61e";
}

.icon-liandongkongzhi:before {
  content: "\e624";
}

.icon-unlock-full:before {
  content: "\e882";
}

.icon-ascend:before {
  content: "\e6b4";
}

.icon-falling:before {
  content: "\e6b6";
}

.icon-buttonoff:before {
  content: "\e614";
}

.icon-buttonon:before {
  content: "\e615";
}

.icon-jiantoushang:before {
  content: "\e62c";
}

.icon-jiantouyou:before {
  content: "\e632";
}

.icon-jiantouxia:before {
  content: "\e633";
}

.icon-24gl-next:before {
  content: "\ea6b";
}

.icon-24gl-pauseCircle:before {
  content: "\ea6f";
}

.icon-24gl-previous:before {
  content: "\ea73";
}

.icon-24gl-stopCircle:before {
  content: "\ea79";
}

.icon-anniu_kaiqi:before {
  content: "\e659";
}

.icon-anniu_guanbi:before {
  content: "\e65b";
}

.icon-jiantoushangzuo-copy:before {
  content: "\ec63";
}

.icon-xiangzuo2-copy:before {
  content: "\ec64";
}

.icon-guanbibofang:before {
  content: "\e61d";
}

.icon-xiangshang3:before {
  content: "\e76f";
}

.icon-xiangxia5:before {
  content: "\e774";
}

.icon-xiangyou2:before {
  content: "\e776";
}

.icon-youbofang:before {
  content: "\e62e";
}

.icon-zuobofang:before {
  content: "\e62f";
}

.icon-bofang2:before {
  content: "\e606";
}

.icon-bofang5:before {
  content: "\e607";
}

.icon-xiangzuojiaohuan:before {
  content: "\e8f8";
}

.icon-xiangyoujiaohuan:before {
  content: "\e8f9";
}

.icon-bofang6:before {
  content: "\e87c";
}

.icon-24gl-playCircle:before {
  content: "\ea6e";
}

.icon-xiangshang7:before {
  content: "\e63c";
}

.icon-bofang26:before {
  content: "\e60e";
}

.icon-play1:before {
  content: "\ea8d";
}

.icon-bofang-kuaitui:before {
  content: "\e68a";
}

.icon-bofang09:before {
  content: "\e690";
}

.icon-bofang-kuaijin:before {
  content: "\e6d8";
}

.icon-xiangxia7:before {
  content: "\ec62";
}

