.o-color-picker{
  width: 300px;
  position: absolute;
  box-sizing: content-box;
  box-shadow: 0 4px 15px rgba(0, 0, 0, .2);
  border-radius: 5px;
  z-index: 10;
  padding: 7px;
  user-select: none;
  @apply dark:bg-zinc-700 bg-white;
  .color-picker-content{
    position: relative;
    height: 180px;
    margin-bottom: 10px;

  }

  .color-slider{
    position: absolute;
    width: 12px;
    height: 100%;
    z-index: 10;
    right: 0;
    top: 0;
    background: linear-gradient(180deg, #f00 0, #ff0 17%, #0f0 33%, #0ff 50%, #00f 67%, #f0f 83%, #f00);
  }
  .color-panel{
    position: relative;
    width: 280px;
    height: 180px;
    cursor: pointer;
  }
  .color-input{
    float: left;
    width: 80%;
  }
  .color-confirm{
    float: right;
    line-height: 38px;
    margin-right: 10px;
    cursor: pointer
  }
}
